<div id="login_dialogs">
    <dialog id="admin_dialog">
        <form method="dialog">
            <p>Board admin password setting</p>
            <div>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" />
            </div>
            <div>
                <label for="confirm">Confirmation:</label>
                <input id="confirm" name="confirm" type="password" />
            </div>
            <button type="submit">OK</button>
        </form>
    </dialog>

    <dialog id="login_dialog">
        <form method="dialog">
            <p>Connect board</p>
            <div>
                <label for="login">Name:</label>
                <input type="text" id="login" name="login" />
            </div>
            <div>
                <label for="login_password">Password:</label>
                <input id="login_password" name="password" type="password" />
            </div>
            <button type="submit">OK</button>
        </form>
    </dialog>

    <dialog id="message_dialog">
        <form method="dialog">
            <div>
                <span>&#9888;</span>
                <p></p>
            </div>
            <br />
            <button type="submit">OK</button>
        </form>
    </dialog>

    <dialog id="confirm_dialog">
        <p></p>
        <span>
            <button>No</button>
            <button>Yes</button>
        </span>
    </dialog>

    <dialog id="connecting_dialog">
        <p class="blinking">CONNECTING</p>
    </dialog>

    <dialog id="online_dialog">
        <p>ONLINE</p>
    </dialog>
</div>
