dialog {
    max-width: 280px;
}

#login_dialog div,
#admin_dialog div {
    white-space: nowrap;
    float: right;
    margin-bottom: 10px;
}

#login_dialogs button {
    float: right;
    clear: both;
}

#login_dialogs p {
    text-align: center;
}

#confirm_dialog > span {
    display: inline-flex;
    float: right;
}

#message_dialog span {
    font-size: 40px;
    float: left;
    color: red;
    margin-right: 10px;
}

#message_dialog div {
    display: inline-flex;
}

#confirm_dialog button {
    margin-left: 10px;
}

#online_dialog p {
    color: green;
}

.blinking {
    animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    50% {
        color: transparent;
    }
}
